# Configuración del servidor
API_PORT=8000
API_HOST=0.0.0.0

# Seguridad (Cambiar en producción)
SECRET_KEY=TU_CLAVE_SECRETA_AQUI
ALGORITHM=HS256

# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_db

# Almacenamiento S3 (Linode Objects)
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_STORAGE_BUCKET_NAME=pegasus
AWS_S3_ENDPOINT_URL=https://us-lax-1.linodeobjects.com
REGION=us-lax-1
AWS_DEFAULT_REGION=us-lax-1

# Producción
CORS_ORIGINS=https://tu-frontend.com,http://localhost:5173
PORT=8000
HOST=0.0.0.0
